<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?include Graphics.wxi?>
    <UIRef Id="Feature1UI"/>
    <UIRef Id="Feature2UI"/>
    <UIRef Id="Feature3UI"/>

    <!--
		************************************
		User Interface Section
		************************************
		-->

    <UI Id="ProductName.Installer.UI">
      <Publish Property="FEEATURE1_PREV_DIALOG" Dialog="CustomizeDlg" Control="Next" Order="6">1</Publish>
      <Publish Property="FEEATURE2_PREV_DIALOG" Dialog="CustomizeDlg" Control="Next" Order="6">1</Publish>
      <Publish Property="FEEATURE3_PREV_DIALOG" Dialog="CustomizeDlg" Control="Next" Order="6">1</Publish>
      <Publish Property="PREVIOUS_DIALOG" Dialog="CustomizeDlg" Control="Next" Order="6">1</Publish>

      <!--<Publish Event="DoAction" Value="WixNewProjCustomAction.Binary.SetLastDialogName" Order="6">1</Publish>-->


      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="Feature1UI" Order="5">
        <![CDATA[(&Feature1=3)]]>
      </Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="Feature2UI" Order="4">
        <![CDATA[(&Feature2=3)]]>
      </Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="Feature3UI" Order="3">
        <![CDATA[(&Feature3=3)]]>
      </Publish>
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="3">1</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg">1</Publish>
    </UI>
  </Fragment>

  <Fragment>
    <UI Id="UI_TextStyles">
      <TextStyle Id="Tahoma10_Bold" FaceName="Tahoma" Size="10" Bold="yes"/>
      <Binary Id="spokPic" SourceFile="!(wix.WixUIBannerBmp)" />
      <TextStyle Id="Tahoma10" FaceName ="Tahoma" Size="10" Bold ="no"/>
    </UI>
  </Fragment>
</Wix>
